<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Lavanderia</title>
<link rel="stylesheet" type="text/css" th:href="@{~/site.css}" />
<link rel="icon" type="img/ico"
	href="http://www.rrmewl.com/media/catalog/category/cat_resized/WashingMachine.png" />
</head>
<body>
	<div class="col-12 cabecalho">

		<div class="col-offset-1 col-5">
			<h1>Lavanderia</h1>
		</div>

		<div th:if="${#authorization.expression('isAuthenticated()')}"
			class="col-offset-4 col-2">
			<form th:action="@{/logout}" method="POST">

				<button type="submit">
					Logout(<span sec:authentication="name"></span>)
				</button>

			</form>

		</div>

		<div th:if="${not #authorization.expression('isAuthenticated()')}"
			class="col-offset-4 col-2">
			<form th:action="@{/login}" method="POST">

				<button type="submit">Login</button>

			</form>

		</div>

	</div>

	<div th:if="${mensagem != null} " class="col-offset-1 col-10"
		style="margin-top: 0; margin-bottom: 0;">
		<h1 th:text="${mensagem}" class="msg-suc"></h1>
	</div>

	<nav class="col-offset-1 col-10">
		<ul class="col-12">
			<li><a th:href="${'/'}">Home</a></li>

			<li><a th:href="${'/clientes'}">Clientes</a>

				<ul>
					<li><a th:href="${'/clientes/incluir'}">Incluir</a></li>
					<li><a th:href="${'/clientes'}">Listar</a></li>
				</ul></li>


			<li><a th:href="${'/produtos'}">Produtos</a>

				<ul>
					<li><a th:href="${'/produtos/incluir'}">Incluir</a></li>
					<li><a th:href="${'/produtos'}">Listar</a></li>
				</ul></li>

			<li><a th:href="${'/pedidos'}">Pedidos</a>

				<ul>
					<li><a th:href="${'/pedidos/incluir'}">Incluir</a></li>
					<li><a th:href="${'/pedidos'}">Listar</a></li>
				</ul></li>
		</ul>
	</nav>

	<div layout:fragment="content" class="col-offset-1 col-10 content"></div>

	<footer class="footer col-12">
		<p layout:fragment="custom-footer">
		<div>
			<hr />
			<h3 class="footer">&copy; 2015</h3>
		</div>
		</p>

	</footer>
	
</body>

</html>
