@model Locadora.Models.RelatorioModel
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <text style="white-space: pre;font-family:monospace;">@Model.Relatorio</text>
    </div>
</body>
</html>
