@model Locadora.Models.RelatorioModel
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="jogos-container">
    <div class="relatorio-container">
        <text class="relatorio">@Model.Relatorio</text>
    </div>
</body>
</html>
