body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

.titulo {
    color: orange;
}

div {
    text-align: center;
}

.relatorio-sombra {
    box-shadow: 0px 0px 9px rgba(20,20,20, 0.5);
}

.relatorio {
    white-space: pre;
    font-family: monospace;
}
