@{
    ViewBag.Title = "Página Inicial";
}

<img src="@Url.Content("~/Content/Images/tsg.jpg")" />
<h1 class="titulo">TSG Games</h1>
<h3>Serviço bom é serviço de qualidade!!!</h3>

<a href="/Relatorio/JogosDisponiveis">Jogos Disponíveis</a>

