@{
    ViewBag.Title = "Página Inicial";
}

<div class="container">
    <div class="row">
        <img class="col-md-10 col-md-push-1" src="@Url.Content("~/Content/Images/tsg.jpg")" />
    </div>
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <h1 class="titulo">TSG Games</h1>
            <h3>Serviço bom é serviço de qualidade!!!</h3>
            <button class="shiny-button" onclick="location.href='@Url.Action("JogosDisponiveis", "Relatorio")'">Jogos Disponíveis</button>
        </div>
    </div>
</div>