@{
    ViewBag.Title = "Página Inicial";
}

<div class="container">
    <div class="row">
        <img class="col-md-10 col-md-push-1" stye="margin-top: 30px;" src="@Url.Content("~/Content/Images/tsg.jpg")" />
    </div>
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <h1 class="titulo">TSG Games</h1>
            <h3>Serviço bom é serviço de qualidade!!!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-7 col-md-4">
            <div class="fb-like"></div>
        </div>
    </div>
</div>

@section Scripts{
    <div id="fb-root" action="curtir"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
}
