body {
    padding-top: 80px;
    padding-bottom: 20px;
    background-image: url("Images/fundoazul.jpg");
    background-repeat: repeat;
    color: #f1f1f1;
}

h2 {
    color: #ccc;
    font-size: 20px;
}

    h2.arredondar img {
        border-radius: 6px;
    }

h3 {
    color: #ccc;
    font-size: 15px;
}

input:focus, a:focus, button:focus {
    outline-color: rgba(0,0,0,0);
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: rgba(0,0,0,0.9);
    border-bottom: 1px solid #222;
}

form input.transparente {
    background-color: rgba(255,255,255,0);
    color: #f1f1f1;
    border: 0;
    margin-left: 5px;
}

.form-filtro {
    background-color: rgba(255,255,255,0.2);
    padding: 3px;
    border-radius: 4px;
    border: 2px solid #ccc;
    width: 284px;
}

.botao-busca {
    background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-24.png') no-repeat;
    width: 30px;
    background-color: rgba(0,0,0,0);
    border: 0;
}

.item-ver-tudo {
    background-color: rgba(0,0,0,0.9);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 15px;
    padding-bottom: 8px;
}

    .item-ver-tudo a {
        color: rgba(0,0,0,0.8);
        font-weight: bold;
        padding-left: 5px;
    }

.celula-jogo {
    padding: 0;
    margin: 22.5px;
    width: 120px;
    height: 250px;
    background-color: rgba(50,50,50,0.7);
    outline: 4px solid rgba(255,255,255,0);
    transition: outline 0.5s;
}


    .celula-jogo:hover {
        outline-color: rgba(255,255,255,1);
    }

    .celula-jogo .nome {
        height: 77px;
    }

    .celula-jogo img {
        width: 120px;
        height: 120px;
    }

    .celula-jogo h3 {
        font-size: 10px;
        font-weight: bolder;
        transform: translateY(-17px);
    }

    .celula-jogo:hover {
        cursor: pointer;
    }

.celula-jogo-info {
    padding-left: 6px;
    padding-top: 4px;
}

    .celula-jogo-info div {
        height: 35px;
    }

    .celula-jogo-info img {
        height: 17px;
        width: 17px;
        border-radius: 5px;
    }

    .celula-jogo-info h2 {
        font-size: 12px;
        margin: auto;
    }

    .celula-jogo-info h3 {
        margin: auto;
        margin-top: 12px;
    }

.side-info-jogo {
    width: 225px;
    margin-left: 8.5px;
}

    .side-info-jogo div {
        width: 225px;
        margin-top: -15px;
        background-color: rgba(255,255,255,0.15);
    }

        .side-info-jogo div h1 {
            padding-top: 12px;
            padding-left: 12px;
            height: 55px;
            font-size: 35px;
            font-weight: bolder;
        }

.jogo-lista-autocomplete {
    width: 273px;
    list-style-type: none;
    padding-top: 2px;
}

    .jogo-lista-autocomplete .ui-menu-item {
        margin-left: -50px;
        background-color: rgba(255,255,255,0.9);
        font-size: 15px;
    }

        .jogo-lista-autocomplete .ui-menu-item img {
            margin: 5px;
        }

        .jogo-lista-autocomplete .ui-menu-item a {
            word-wrap: break-word;
            font-family: Calibri;
            color: rgba(0,0,0,0.8);
        }

            .jogo-lista-autocomplete .ui-menu-item a:hover {
                cursor: pointer;
            }

.locacao-lista-autocomplete {
    width: 273px;
    list-style-type: none;
    padding-top: 2px;
}

    .locacao-lista-autocomplete .ui-menu-item {
        margin-left: -40px;
        background-color: rgba(255,255,255,0.9);
        font-size: 15px;
    }

        .locacao-lista-autocomplete .ui-menu-item img {
            margin: 5px;
        }

        .locacao-lista-autocomplete .ui-menu-item a {
            word-wrap: break-word;
            font-family: Calibri;
            color: rgba(0,0,0,0.8);
        }

            .locacao-lista-autocomplete .ui-menu-item a:hover {
                cursor: pointer;
            }

.ordem-container {
    padding-top: 20px;
}

.estatisticas-jogo {
    font-size: 15px;
    margin-left: 15px;
    color: #f1f1f1;
}

    .estatisticas-jogo span {
        font-style: italic;
    }

    .estatisticas-jogo.col-md-9 {
        color: rgba(255,255,255,0.4);
        font-size: 40px;
    }

        .estatisticas-jogo.col-md-9 span {
            color: #f1f1f1;
            font-size: 40px;
        }

.descricao {
    white-space: pre-line;
}

.bold {
    font-weight: bold;
    color: #f1f1f1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0;
    background-color: rgba(0,0,0,0.7);
}

div.container {
    padding: 0;
    width: auto;
    max-width: 990px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    width: 235px;
    max-width: 280px;
}

select {
    width: 145px;
    max-width: 280px;
}

.titulo {
    color: orangered;
    font-family: monospace;
}

.shiny-button {
    width: 155px;
    height: 30px;
    background-color: #222;
    text-align: center;
    color: #e1e1e1;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
}

    .shiny-button:hover {
    }

    .shiny-button:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0%;
        height: 100%;
        background-color: rgba(255,255,255,0.4);
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }

    .shiny-button:hover:after {
        width: 100%;
        background-color: rgba(255,255,255,0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

.nav-form {
    margin: 15px;
}

.nav-link {
    margin: 5px;
}

.tab-margin {
    margin: 15px;
}

.detalhes-descricao {
    padding-left: 8px;
}

.login, .titulo-manter {
    margin-left: 25px;
}

.preview-locacao,
.preview-devolucao {
    margin: 15px;
}

    .preview-locacao div div.row,
    .preview-devolucao div div.row {
        margin: 0;
        background-color: rgba(0,0,0,0.75);
    }

    .preview-devolucao img,
    .preview-locacao img {
        height: 225px;
        width: 225px;
        padding: 15px 0;
        padding-right: 15px;
    }

.borda-bonita {
    height: 195px;
    width: 65%;
    padding: 15px;
    margin: 15px 0;
    margin-right: 15px;
    border: 1px solid #f1f1f1;
}

    .borda-bonita h2 {
        font-size: 27px;
    }

.finalizar-locacao {
    margin-top: 26px;
}

.finalizar-devolucao {
    transform: translate3d(30px,-10px,0);
}

.form-locacao {
    margin: 0;
    padding: 0;
    height: 90px;
}

.form-devolucao {
    margin-left: 30px;
    padding: 0;
}

.row-form-devolucao, .titulo-devolucao {    
    margin-left: 30px;
}

.cliente-lista-autocomplete {
    width: 100px;
    list-style-type: none;
    padding-top: 2px;
}

    .cliente-lista-autocomplete .ui-menu-item {
        margin-left: -40px;
        background-color: rgba(255,255,255,0.9);
        font-size: 15px;
    }

        .cliente-lista-autocomplete .ui-menu-item a {
            word-wrap: break-word;
            font-family: Calibri;
            color: rgba(0,0,0,0.8);
            margin-left: 5px;
        }

            .cliente-lista-autocomplete .ui-menu-item a:hover {
                cursor: pointer;
            }

.imagem-com-selo span img {
    width: 40px;
    height: 54px;
    position: absolute;
    transform: translate3d(-45px, 7px, 0);
}

.mensagem-sucesso {
    color: limegreen;
    margin-left: 30px;
}

.mensagem-falha {
    color: indianred;
    margin-left: 30px;
}

.mensagem {
    margin-left: 30px;
}

.botao-devolver {
    transform: translate3d(0,-60px,0);
}

.imagem-manter {
    position: absolute;
    transform: translate3d(70px, 49px, 0);
    z-index: 99;
}

.imagem-locar {
    position: absolute;
    transform: translate3d(45px, 27px, 0);
    z-index: 99;
}