body {
    padding-top: 80px;
    padding-bottom: 20px;
    background-image: url("Images/fundoazul.jpg");
    background-repeat: repeat;
    color: #f1f1f1;
}

h2 {
    color: #ccc;
    font-size: 20px;
}

    h2.arredondar img {
        border-radius: 6px;
    }

h3 {
    color: #ccc;
    font-size: 15px;
}

.navbar.navbar-inverse.navbar-fixed-top{
    background-color: rgba(0,0,0,0.9);
    border-bottom: 1px solid #222;
}

form input.transparente{
    background-color: rgba(255,255,255,0.2);
    color: #f1f1f1;
}

.celula-jogo {
    padding: 0;
    margin: 22.5px;
    width: 120px;
    height: 250px;
    background-color: rgba(50,50,50,0.7);
    outline: 4px solid rgba(255,255,255,0);
    transition: outline 0.5s;
}


.celula-jogo:hover {
    outline-color: rgba(255,255,255,1);
}

    .celula-jogo .nome {
        height: 77px;
    }

    .celula-jogo img {
        width: 120px;
        height: 120px;
    }

    .celula-jogo h3 {
        font-size: 10px;
        font-weight: bolder;
    }

    .celula-jogo:hover {
        cursor: pointer;
    }

.celula-jogo-info {
    padding-left: 6px;
    padding-top: 4px;
}

    .celula-jogo-info div {
        height: 35px;
    }

    .celula-jogo-info img {
        height: 17px;
        width: 17px;
        border-radius: 5px;
    }

    .celula-jogo-info h2 {
        font-size: 12px;
        margin: auto;
    }

    .celula-jogo-info h3 {
        margin: auto;
        margin-top: 12px;
    }

.side-info-jogo {
    width: 225px;
    margin-left: 8.5px;
}

    .side-info-jogo div {
        width: 225px;
        margin-top: -15px;
        margin-left: -15.5px;
        background-color: rgba(255,255,255,0.15);
    }

        .side-info-jogo div h1 {
            padding-top: 12px;
            padding-left: 12px;
            height: 55px;
            font-size: 35px;
            font-weight: bolder;
        }

    .side-info-jogo img {
        margin-left: -15.5px;
    }

.ordem-container{
    padding-top: 20px;
}

.estatisticas-jogo {
    font-size: 15px;
    margin-left: 15px;
    color: #f1f1f1;
}

    .estatisticas-jogo span {
        font-style: italic;
    }

    .estatisticas-jogo.col-md-9 {
        color: rgba(255,255,255,0.4);
        font-size: 40px;
    }

    .estatisticas-jogo.col-md-9 span{
    color: #f1f1f1;
        font-size: 40px;
    }

.descricao {
    white-space: pre-line;
}

.bold {
    font-weight: bold;
    color: #f1f1f1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0;
    background-color: rgba(0,0,0,0.7);
}

div.container {
    padding: 0;
    width: auto;
    max-width: 990px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.titulo {
    color: orangered;
    font-family: monospace;
}

.shiny-button {
    width: 155px;
    height: 30px;
    background-color: #222;
    text-align: center;
    color: #e1e1e1;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
}

    .shiny-button:hover {
    }

    .shiny-button:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0%;
        height: 100%;
        background-color: rgba(255,255,255,0.4);
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }

    .shiny-button:hover:after {
        width: 100%;
        background-color: rgba(255,255,255,0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

.nav-form {
    margin: 15px;
}

.nav-link {
    margin: 5px;
}

.tab-margin {
    margin: 15px;
}
