<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{~/site.css}" />
</head>
<body>


	<div layout:fragment="content">

		<h1 class="titulo col-offset-1">Cliente - Dados</h1>

		<div class="content-section col-5 col-offset-1">
			<form th:object="${cliente}">

				<p>
					<label class="control-label col-2">Situação</label> <input
						th:field="*{situacao}" type="text" disabled="true" />
				</p>

				<p>
					<label class="control-label col-2">Nome</label> <input
						th:field="*{nome}" type="text" disabled="true" />
				</p>

				<p>
					<label class="control-label col-2">CPF</label> <input
						th:field="*{cpf}" type="text" disabled="true" />
				</p>

				<p>
					<label class="control-label col-2">E-mail</label> <input
						th:field="*{email}" type="text" disabled="true" />
				</p>

				<p>
					<label class="control-label col-2">Cidade: </label> <select
						th:field="*{idCidade}" disabled="true">
						<option th:each="c : ${cidades}" th:text="${c.nome}"
							th:value="${c.idCidade}"></option>
					</select>
				</p>

				<p>
					<label class="control-label col-2">Bairro</label> <input
						th:field="*{bairro}" type="text" disabled="true" />
				</p>

				<p>
					<label class="control-label col-2">Endereço</label> <input
						th:field="*{endereco}" type="text" disabled="true" />
				</p>

				<p>
					<label class="control-label col-2">CEP</label> <input
						th:field="*{cep}" type="text" disabled="true" />
				</p>

			</form>
		</div>
	</div>

</body>

</html>
