@{
    ViewBag.Title = "TSG Games";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <img class="banner" src="http://socalskateshop.com/images/logos/tsg.jpg" />
        <h1 class="titulo">
            @ViewBag.Title
        </h1>
        <h2 class="descricao">Serviço bom é serviço de qualidade!!!</h2>
    </div>
    <form action="../RELATORIO/JOGOS">
        <input type="submit" value="Lista de jogos">
    </form>
</body>
</html>
