<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{~/site.css}" />
</head>
<body>

	<div layout:fragment="content">
		<div class="content-section col-offset-1 col-10">
			<h1 class="titulo col-offset-1">Home</h1>
			<h2 class="mensagem col-offset-1" th:text="${mensagem}"></h2>
		</div>
	</div>
</body>

</html>
