<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<meta charset="UTF-8" />
<title>Pedido</title>
<link rel="stylesheet" type="text/css" th:href="@{~/site.css}" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	$(document).ready(
			function() {
				
				var updateCombos = function() {
					$.ajax({
						type : 'GET',
						url : '/materiais/json',
						data : {
							id : $servico.val()
						},
						dataType : 'json',
						success : function(data) {
							var novasOpcoes = '<optgroup label="'+$('#servico option:selected').text().toLowerCase()+'">'; 
							data.forEach(function(opt) {
								novasOpcoes += '<option value="';
								novasOpcoes += opt.id;
								novasOpcoes += '">';
								novasOpcoes += opt.descricao;
								novasOpcoes += '</option>';
							});
							
							novasOpcoes+='</optgroup>';

							$material.html(novasOpcoes);
							
						}
					});
				};
				
				var $servico = $('#servico');
				var $material = $('#material');
				
				(function(){
					$.ajax({
						type : 'GET',
						url : '/servicos/json',
						dataType : 'json',
						success : function(data) {
							var novasOpcoes = '<optgroup label="serviços">'; 
							data.forEach(function(opt) {
								novasOpcoes += '<option value="';
								novasOpcoes += opt.id;
								novasOpcoes += '">';
								novasOpcoes += opt.descricao;
								novasOpcoes += '</option>';
							});
							
							novasOpcoes+='</optgroup>';

							$servico.html(novasOpcoes);
							
							updateCombos();
							$servico.change(updateCombos);
							
						}
					});
					
				})();
			});
	
	
</script>
</head>
<body>


	<div layout:fragment="content">

		<h1 class="titulo col-offset-1">Pedido - itens</h1>

		<div class="col-offset-1 col-10 content-section">

			<form th:action="@{/pedidos/editar}" method="post"
				th:object="${item}" class="inline-form">

				<input th:field="*{idPedido}" type="hidden" />

				<p>
					<label class="control-label col-1">Serviço </label> <select id="servico"
						th:field="*{idServico}" class="control-label col-1">
					</select>
				</p>

				<p>
					<label class="control-label col-1">Material </label> <select id="material"
						th:field="*{idMaterial}" class="control-label col-1">
					
					</select>
				</p>

				<p>
					<label class="control-label col-1">Peso</label> <input
						th:classappend="${#fields.hasErrors('peso')} ? 'has-error'"
						th:field="*{peso}" type="text" class="control-label col-1" /><span
						class="help-inline" th:errors="*{peso}"></span>
				</p>

				<p>
					<button type="submit">Adicionar item</button>
				</p>

			</form>

		</div>

		<div>
			<table class="border-default col-offset-1 col-10">

				<tr>
					<th class="border-default col-3">Produto</th>
					<th class="border-default col-3">Peso(Kg)</th>
					<th class="border-default col-3">Valor unitário(R$)</th>
					<th class="border-default col-3">Valor total(R$)</th>
				</tr>

				<tr th:each="i : ${pedido.itens}">
					<td th:text="${i.produto}" class="border-default col-3 text-center"></td>
					<td th:text="${i.peso}" class="border-default col-3 text-center"></td>
					<td th:text="${i.valorUnitario}"
						class="border-default col-3 text-center"></td>
					<td th:text="${i.valorTotal}"
						class="border-default col-3 text-center"></td>
				</tr>
			</table>
		</div>


		<div class="col-offset-1 col-2 content-section">
			<div>

				<form class="inline-form" method="POST"
					th:action="${'/pedidos/editar/'+pedido.idPedido}">

					<input th:field="${pedido.idPedido}" type="hidden" />

					<p>
						<button class="little-margin" type="submit">Concluir
							inclusão</button>
					</p>

				</form>
			</div>

			<form method="GET"
				th:action="@{'/pedidos/cancelar/'+${item.idPedido}}">

				<button class="little-margin" type="submit">Cancelar pedido</button>

			</form>
		</div>
	</div>
</body>

</html>
