<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{~/site.css}" />
</head>
<body>

	<div layout:fragment="content">

		<div th:if="${mensagem != null} ">
			<h1 th:text="${mensagem}" class="msg-suc"></h1>
		</div>

		<h1 class="titulo col-offset-1 col-11">Pedidos</h1>

		<div th:if="${not #lists.isEmpty(pedidos)}">
			<table class="border-default col-offset-1 col-10">

				<tr>
					<th class="border-default col-2">CPF</th>
					<th class="border-default col-2 text-left">Cliente</th>
					<th class="border-default col-2">Data inclusão</th>
					<th class="border-default col-2">Valor total(R$)</th>
					<th class="border-default col-2">Situação</th>
					<th class="border-default col-2">Ações</th>
				</tr>

				<tr th:each="pedido : ${pedidos}">
					<td th:text="${pedido.cpf}" class="border-default col-2 text-center"></td>
					<td th:text="${pedido.nomeCliente}" class="border-default col-2 text-left"></td>
					<td th:text="${pedido.dataInclusao}" class="border-default col-2 text-center"></td>
					<td th:text="${pedido.valorTotal}" class="border-default col-2 text-center"></td>
					<td th:text="${pedido.situacao}" class="border-default col-2 text-center"></td>

					<td class="col-2">
						<div class="border-default col-4 icon-link-container">
							<a th:href="${'/pedidos/' + pedido.id}"><img
								src="http://www.honestmachines.com/images/icon_details.png"
								title="detalhes" /></a>
						</div>
						<div class="border-default col-4 icon-link-container">
							<a th:href="${'/pedidos/editar/' + pedido.id}"><img
								src="http://iconizer.net/files/Gnome_icons/orig/gtk-edit.png"
								title="editar" /></a>
						</div>
						<div class="border-default col-4 icon-link-container">
							<a th:href="${'/pedidos/remover/' + pedido.id}"><img
								src="http://findicons.com/files/icons/1033/retrofukation/24/edit_delete.png"
								title="remover" /></a>
						</div>
					</td>
				</tr>

			</table>
		</div>
	</div>

</body>

</html>
