<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<meta charset="UTF-8" />
<title>Pedido</title>
<link rel="stylesheet" type="text/css" th:href="@{~/site.css}" />
</head>
<body>

	<div layout:fragment="content">
		<h1 class="titulo col-offset-1">Pedido - incluir</h1>

		<div class="buscar content-section col-5 col-offset-1">

			<form method="GET">

				<p>
					<label>Cliente</label><input placeholder="Digite sua pesquisa..."
						type="text" name="nome" />
					<button type="submit">Pesquisar nome</button>
				</p>

			</form>

			<form th:each="c : ${clientes}" method="GET">
			
				<div class="content-section">
					<label th:text="${c.nome}"></label> <input name="id"
						th:value="${c.id}" type="hidden" />
					<button type="submit">Selecionar</button>
				</div>

			</form>

		</div>

	</div>

</body>

</html>
