<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{~/site.css}" />
</head>
<body>


	<div layout:fragment="content">

		<h1 class="titulo col-offset-1">Pedido - processar itens</h1>

		<div>
			<table class="border-default col-offset-1 col-9">

				<tr>
					<th class="border-default col-3">Produto</th>
					<th class="border-default col-3">Peso(Kg)</th>
					<th class="border-default col-3">Valor unitário(R$)</th>
					<th class="border-default col-3">Valor total(R$)</th>
				</tr>

				<tr th:each="i : ${pedido.itens}">
					<td th:text="${i.produto}" class="border-default col-3 text-center"></td>
					<td th:text="${i.peso}" class="border-default col-3 text-center"></td>
					<td th:text="${i.valorUnitario}"
						class="border-default col-3 text-center"></td>
					<td th:text="${i.valorTotal}"
						class="border-default col-3 text-center"></td>
				</tr>
			</table>

			<table class="border-default col-1">

				<tr>
					<th class="border-default col-12">Situação</th>
				</tr>
				<tr>
					<td th:each="i : ${situacaoDosItens}"
						class="border-default col-12 text-center">

						<form method="POST" th:action="@{'/pedidos/processar/' + ${i.id}}"
							th:object="${situacaoDosItens}" th:if="${!i.processado}">

							<button type="submit" style="margin:auto;">Processar</button>

						</form> 
						
						<label th:if="${i.processado}">Processado</label>

					</td>
				</tr>
			</table>

			<form method="GET"
				th:action="@{'/pedidos/cancelar/'+${item.idPedido}}">

				<button type="submit">Cancelar pedido</button>

			</form>
			
			<form method="POST"
				th:action="@{/pedidos/processar}">

				<input name="idPedido" th:value="${pedido.idPedido}" type="hidden" />

				<button type="submit">Processar itens</button>

			</form>

		</div>
	</div>

</body>

</html>
