.botao {
  height: 50px;
  width: 50px;
  margin: 5px;
  display: inline-block;
}

.palavra {
  font-size: 80px;
  text-align: center;
}

.row {
  text-align: center;
}

.ocultar {
  display: none;
}

.teclado {
  display:none;
}

.form-container {
  text-align: center;
  transition: transform 2s;
  overflow: hidden;
}
