.botao {
  height: 50px;
  width: 50px;
  margin: 5px;
  display: inline-block;
}

.body {
}

.palavra {
  font-size: 80px;
  text-align: center;
}

.row {
  text-align: center;
}

.ocultar {
  transform: scale(0);
}

.teclado {
}

.animation {
  transition: transform 0.5s;
}

.form-container {
  text-align: center;
  overflow: hidden;
}
