@{
    ViewBag.Title = "Devolução";
}

@Html.Partial("_Mensagem")

<div>
    <h1 class="titulo-devolucao">Devolução</h1>
    <div class="container">
        <div class="row row-form-devolucao">
            @using (Html.BeginForm("Detalhes", "Devolucao", FormMethod.Get, new { @class = "form-horizontal form-devolucao", role = "form" }))
            {
                @Html.ValidationSummary(false)

                <label for="nomeJogo" class="control-label">Jogo</label>
                <input type="text" class="form-control devolucao-busca" name="nomeJogo" id="locacaoNomeJogo" autofocus />

                <div class="form-horizontal botao-devolver">
                    <div class="col-md-offset-4 col-md-2">
                        <button type="submit" class="btn btn-primary finalizar-locacao">Devolver</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>