
@model string

@if (@Model == "OURO")
{
    <div class="pull-right"><img width="40" height="40" src="~/Content/Images/seloouro.jpg" /></div>
}
else if (@Model == "PRATA")
{
    <div class="pull-right"><img width="40" height="40" src="~/Content/Images/seloprata.jpg" /></div>
}
else if (@Model=="BRONZE")
{
    <div class="pull-left"><img width="40" height="40" src="~/Content/Images/selobronze.jpg" /></div>
}

