@model string

@{
    string nomeDoSeloToUpper = Model.ToUpper();
    string nomeImagem = "";
    if (nomeDoSeloToUpper == "OURO")
    {
        nomeImagem = "seloouro.png";
    }
    else if (nomeDoSeloToUpper == "PRATA")
    {
        nomeImagem = "seloprata.png";
    }
    else if (nomeDoSeloToUpper == "BRONZE")
    {
        nomeImagem = "selobronze.png";
    }
    <span class="text-center"><img width="40" height="40" src="~/Content/Images/@nomeImagem" title=@Model /></span>
}