@model string

@{
    string nomeImagem = "";
    if (@Model == "OURO")
    {
        nomeImagem = "seloouro.png";
    }
    else if (@Model == "PRATA")
    {
        nomeImagem = "seloprata.png";
    }
    else if (@Model == "BRONZE")
    {
        nomeImagem = "selobronze.png";
    }
    <span class="text-center"><img width="40" height="40" src="~/Content/Images/@nomeImagem" title=@Model /></span>
}