@model string

@{
    string nomeImagem = "";
    if (@Model == "OURO")
    {
        nomeImagem = "seloouro.jpg";
    }
    else if (@Model == "PRATA")
    {
        nomeImagem = "seloprata.jpg";
    }
    else if (@Model == "BRONZE")
    {
        nomeImagem = "selobronze.jpg";
    }
    <span class="text-center"><img width="40" height="40" src="~/Content/Images/@nomeImagem" /></span>
}